body {
	margin: 0;
	padding: 0;
}

.header {
	padding: .25rem;
	margin-bottom: .5em;
	background-color: #eff0f3;
	color: #0d0d0d;
}

.main {
	padding-left: .5rem;
}

#create-product-form {
	display: flex;
	flex-direction: column;
	border: 1px solid;
	padding:  1em;
}

#create-product-form button {
	padding: .5em;
	background-color: skyblue;
	border: none;
	border-radius: 50%;
	cursor: pointer
}