html
	head
		title= title
		style
			include ../styles.css
	body
		header
			a(href="/" class="header-link")
				h1 eCommerce
			a(href="/cart") Shopping Cart
		block content
	script
		include ../script.js