extend header.pug

block content 
    div(class="main")
        form(action="", id="login-form", method="post")
            div 
                label(for="username") username/email:
                input(type="username", name="username", required)
            div 
                div 
                    label(for="password") password:
                    input(type="password", name="password", required)
            div 
                button(type="submit") Log In