extend header.pug

block content
	div(class="main")
		h3 All products
		ul
			if products.length > 0
				each product in products
					li
						a(href="/products/"+product._id)
							h4= product.name
						p Price: $#{product.price}
						p In stock: #{product.stock}
						a(href="/reviews/"+product._id)
							p Reviews
					hr
			else
				p No products found!