extend header.pug

block content
	div(class="main")
		h3 Reviews - 
			span= product.name
		if reviews.length > 0
			ul
				each review in reviews
					li #{review.author}: #{review.value}/10 rating
		else
			p No reviews yet!