extend header.pug

block content
	h4= product.name
	p Price: $#{product.price}
	p In stock: #{product.stock}
	form(class="review-form" action="" id=product.id)
		.input-wrapper
			label(for="review-input") Add a review:
			input(type="number", min=1, max=10 class="review-input")
			button(type="submit") submit